#notificationIcon {
    z-index: 50;
    margin-right: 20%;
    margin-left: 62%;
    margin-top: -6em;
}

li {
	list-style: none;
    background-color: #333;
}

li div, .notifications {
    display: inline-block;
    width: 173px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .notifications:hover .notifications {
    background: rgb(209, 182, 135); /* For browsers that do not support gradients */
	background: -webkit-linear-gradient(rgb(209, 182, 135), rgb(116, 86, 52)); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(rgb(209, 182, 135), rgb(116, 86, 52)); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(rgb(209, 182, 135), rgb(116, 86, 52)); /* For Firefox 3.6 to 15 */
	background: linear-gradient(rgb(209, 182, 135), rgb(116, 86, 52)); /* Standard */ 
}

li.notifications {
    display: inline-block;
}

.notifications-content {
    margin-top: -16px;
    display: none;
    position: relative;
    background-color: #f9f9f9;
    min-width: 205px;
	max-width: 205px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	float: right;
}

.notifications-content div {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.notifications-content div:hover {
	background-color: #f1f1f1;
    cursor: pointer;
}

.show {
	display:block;
}

.no-notifs {
	height: 7.5%;
}