body {
    margin: 0; 
    padding: 0; 
    min-width: 1000px; 
    width: auto !important;
}

header {
    background: rgb(23, 23, 23); 
    margin-top: -1.5em; 
    min-height: 8em; 
    max-height: 8em;
    position: fixed; 
    width: 100%; 
    top: 0; 
    z-index: 100;
}

img#logo {
    margin-left: 2em; 
    margin-top: 2em; 
    max-height: 80px; 
    background-color: none;
}	

input#signout_button {
    margin-left: 84%;
    margin-right: 16%;
    margin-top: -8em;
    position: fixed;
}

input#searchButton {
    margin-left: 82%;
    margin-right: 13%;
    margin-top: -3em;
    position: fixed;
    width: 100px;
}

div.wrapper	{
    margin-top: 6.5em;  
    min-width: 80%; 
    max-width: 80%; 
    min-height: 770px;
    margin-left: 10%;
    margin-right: 10%; 
    margin-top: 8em; 
    background: rgba(209, 182, 135, 0.8); 
    background: -webkit-linear-gradient(rgba(209, 182, 135, 0.8), rgba(116, 86, 52, 0.8)); 
    background: -o-linear-gradient(rgba(209, 182, 135, 0.8), rgba(116, 86, 52, 0.8)); 
    background: -moz-linear-gradient(rgba(209, 182, 135, 0.8), rgba(116, 86, 52, 0.8)); 
    background: linear-gradient(rgba(209, 182, 135, 0.8), rgba(116, 86, 52, 0.8));
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
}

#dateDiv {
    margin-top: -34px;
    margin-left: 80px;
}

#date_time {
    color: white;
    margin-left: 16em;
    margin-top: -2em;
    font-family: "Oswald", sans-serif;
}                            
   				 